h1,h2,h3,h4,h5,h6 {font-family: 'Raleway', sans-serif; color: #36454F;letter-spacing: 5px}
body, html {
    height: 100%;
    color: #555;
    line-height: 1.8;
}

a {text-decoration: none !important;}
h3 {font-size: 25px;}
p {font-size: 16px;}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Top image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../images/background/IMG_2448_hicontrast_cropped.jpg');
    min-height: 100%;
    background-position: 60% top;
}

/* Featured Video image */
.bgimg-2 {
    /*background-image: url("../images/background/IMG_0416_normal-compressed.jpg");*/
    background-image: url("../images/background/newbackground3.jpg");
    min-height: 700px;
    /*background-position-y: 100px;*/
    background-position: 50% 30%;
}
/* Second image (Portfolio) */
.bgimg-3 {
    background-image: url("../images/background/disney_hall_2.jpg");
    background-position-x: 30%; 
    min-height: 700px;
}

/* Third image (Contact) */
.bgimg-4 {
    background-image: url("../images/background/PARALLAX_IMG_0405_normal-compressed.jpg");
    min-height: 700px;
}
/* Third image (Contact) */
.bgimg-5 {
    background-image: url("../images/background/rachel_main.jpg");
    min-height: 700px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}





/*TIMELINE and Current Projects*/


/*.event, .current_project {
    background: #eee;
    margin-bottom: 1em;
    box-shadow: 0 1px 3px grey;
    transition: background .25s;
}

.event{ 
    padding: 1em 3em 1.4em;
    margin-bottom: 1em;
}
.current_project { 
    padding: 1em 3em 3em;
    margin-bottom: 1.5em;
}

.event > p {
    margin: 0px;
}*/
.current_project {
  position: relative;
  display: inline-block;
  margin: 0 4.95%;
}

.thumbnail {
  display: block;
  width: 350px;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 228px;
  /*width: 100%;*/
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(178, 34, 34,0.75);
}

.current_project:hover .overlay {
  opacity: 1;
}

.text, .text h3 {
  color: white !important;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text h3 {
  margin: 0;
}


.headline, .date, .location, .piece, .details { display: block; font-size: 13px;}

.location, .details { line-height: 15px; }

.headline{
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;
    color: firebrick;
    margin: 7px 0;
}

.thumbnail {
    background-color: rgba(0,0,0,0) !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

.date{
    color: black;
    font-weight: 800;
    font-family: Times;
}

.piece{
    line-height: 15px;
    font-style: italic;
    margin: 5px 0;
}

.piece:before{
    content: "\2022   ";
}

/*TIMELINE CODE FROM JENNA*/
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #f1f1f1;
  color: white;
  border-radius: 100%;
  border: 5px solid #b22222;
  text-align: center;
}

.timeline > li #redcircle
{
  background-color: #b22222;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
/*  color: inherit;
*/}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

.img-circle {
  border-radius: 
}

.timeline p {
  padding: 7px;
}

.redtitles {
  color: #b22222;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subheading {
  font-size: 12px;
  font-family: "Raleway";
  font-style: italic;
  letter-spacing: 1px;
}

#cvlink {
  margin-top: 30%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

#redcircle {
  transition: all .1s; 
}

#redcircle:hover {
  background-color: #eeeeee !important;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/*Featured Video*/
.videolink {
  text-align: center;
  margin-top: 10px;
}

.videolink a {
  text-decoration: underline;
  color: #b22222;
  font-weight: bold;
}




/*GALLERY*/
.gallery {
    /*margin: 5px;
    display: inline;*/
    padding: 5px;
    box-shadow: 0 0 5px grey;
    height: 200px;
}


/*CURRENT PROJECTS*/

#projects p {
    text-align: center;
}

/*Small Screens*/
@media only screen and (max-width: 540px) {
    .featured-video {
        width: none;
        min-height: none;  
        display: block;
        margin: auto;
        /*visibility: hidden;*/
    }
    .thumbnail {
        width: 150px;
        height: auto;
        display: block;
        margin: 0 auto 10px auto;
    }
    .headline{ text-align: center; }
    .gallery{ 
        display: block;
        margin: 15px auto;
     }
     .current_project{ padding: 1em 3em 1em; }
     .date{ text-align: center; }

     .overlay {
      width: 150px;
      height: 98px;
      margin: 15px auto 10px auto;
     }

     .text h3 {
      font-size: 12px !important;
     }
}
/*Big Screens*/
@media only screen and (min-width: 541px) {
    .featured-video {
        width: 500px;
        min-height: 400px;  
        display: block;
        margin: auto;
    }
    .thumbnail {
        /*width: 350px;*/
        height: auto;
        /*float: left;*/
        /*margin-right: 15px;*/
    }
    .headline{ text-align: left; }
    .gallery{ 
        margin: 5px;
        display: inline;
     }
     nav i { margin-top: -5px }
     /*.current_project{ padding: 1em 3em 3em; }*/
}





/*Navbar*/
.navbar-brand { 
    /*color: #e3432d !important; */
    color: firebrick !important; 
    text-transform: uppercase; 
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
.navbar-fixed-top { border-bottom: 3px solid firebrick; }
.navbar-nav li a { text-transform: uppercase; text-align: center; }

.fa-facebook { color: blue; }
.fa-facebook:hover { color: #5e5e5e; }

.fa-instagram { color: #9b6954; }
.fa-instagram:hover { color: #5e5e5e; }

.fa-youtube { color: red; }
.fa-youtube:hover { color: #5e5e5e; }

/*FOOTER*/
footer i, footer a {
    color: white !important;
}

.imagebox {
    max-width:300px !important;
    overflow: hidden;
    display: inline-block;
}

.galleryimg {
    /*display: inline-block;*/
    margin: 10px;
    transition: transform .5s;
    overflow: hidden;
    width: 300px;
    height: 300px;
    background-size: cover;
}

#galleryimg0 {
    background-image: url("../images/gallery/disney_hall_1_small.jpg");
}

#galleryimg1 {
    background-image: url("../images/gallery/disney_hall_2_small.jpg");
}

#galleryimg2 {
    background-image: url("../images/gallery/gallerybw2_small.jpg");
    background-position: 50% 30%;
}

#galleryimg3 {
    background-image: url("../images/gallery/gallery2_small.jpg");
    background-position: center;
}

#galleryimg4 {
    background-image: url("../images/gallery/gallery15_small.jpg");
    background-position: center top;
}

#galleryimg5 {
    background-image: url("../images/gallery/gallerybw_small.jpg");
    background-position: center top;
}

#galleryimg6 {
    background-image: url("../images/gallery/gallery16_small.jpg");
    background-position: center top;
}

#galleryimg7 {
    background-image: url("../images/gallery/gallery6_small.jpg");
    background-position: center right;
}


